@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#ffaa6;
    margin: 0 auto;
    line-height: 20px;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.boxTitle {
   background-color: white;
   font-family: 'Kenia', cursive;
   position: absolute;
   z-index: 999;
   padding: 50px;
}
header h1{
    font-size: 80px;
align-items: center;
}
header p{
    font-size: 25px;
    align-items: center;

}
/* SLIDER */
div.slider{
  
    overflow: hidden;
   
}

.salade{
    background-image: url("/images/salad-banner.jpg");
}




div.slides{
    display: flex;
    flex-direction: row;
    animation: glisse 10s infinite ease;
    width: calc(500px *4);
    height: 720px;
    padding: 20px;
}
.slide{
    opacity: 0.5;
}
/*menu*/
.container{
    width: 100%;
    display: flex;
    justify-content: center;
 transform: translateY(-130px);
}
nav.menu{
    width: calc(500px *4);
}
nav.menu ul{
    display: flex;
   
}
nav.menu ul li  {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
nav.menu ul li:hover {
    transform: scale(0.9);
    transition: 0.3s all;
}
nav.menu ul li a {
    font-size: 50px;
    color: white;
    text-decoration: none;
  

}
.navItems{
    flex: 1;
    height: 300px;
    

}
.pizza{
    background-image: url("/images/pizza-banner.jpg");
}

.boisons{
background-image: url("/images/boisson-banner.jpg");
}
.salade{
    background-image: url("/images/salad-banner.jpg");
}
.burguer{
    background-image: url("/images/burger-banner.jpg");
}
@keyframes glisse{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    
    33%{
        transform: translateX(-500px);
    }
    43%{
        transform: translateX(-500px);
    }
    66%{
        transform: translateX(-1000px);
    }
    76%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
}